.x {
    position: absolute;
    top: -44px;
    left: 846px;
    line-height: 26px;
    font-weight: 500;
    font-family: Poppins;
    color: #242424;
}
.keywordsPerformance {
    position: absolute;
    top: 28px;
    left: calc(50% - 415px);
    font-weight: 800;
    color: #242424;
}
.text {
    position: absolute;
    top: 37px;
    left: 101px;
    font-weight: 800;
}
.keywords {
    position: absolute;
    top: 86px;
    left: 49px;
}
.cr {
    position: absolute;
    top: 87px;
    left: 259px;
    color: #242424;
}
.ctr {
    position: absolute;
    top: 86px;
    left: 343px;
    color: #242424;
}
.qs {
    position: absolute;
    top: 87px;
    left: 424px;
    color: #242424;
}
.cpc {
    position: absolute;
    top: 87px;
    left: 497px;
    color: #242424;
}
.cpa {
    position: absolute;
    top: 87px;
    left: 606px;
    color: #242424;
}
.roas {
    position: absolute;
    top: 87px;
    left: 709px;
    color: #242424;
}
.sis {
    position: absolute;
    top: 87px;
    left: 779px;
    color: #242424;
}
.keyword1 {
    position: absolute;
    top: 158px;
    left: 66px;
    text-decoration: underline;
    font-weight: 600;
    color: #437eeb;
    display: inline-block;
    width: 101px;
}
.keyword2 {
    position: absolute;
    top: 332px;
    left: 64px;
    text-decoration: underline;
    font-weight: 600;
    color: #437eeb;
    display: inline-block;
    width: 102px;
}
.keyword3 {
    position: absolute;
    top: 396px;
    left: 64px;
    text-decoration: underline;
    font-weight: 600;
    color: #437eeb;
    display: inline-block;
    width: 102px;
}
.div1 {
    position: absolute;
    top: 158px;
    left: 263px;
}
.div2 {
    position: absolute;
    top: 332px;
    left: 261px;
}
.div3 {
    position: absolute;
    top: 213px;
    left: 261px;
}
.div4 {
    position: absolute;
    top: 247px;
    left: 261px;
}
.div5 {
    position: absolute;
    top: 396px;
    left: 261px;
}
.div6 {
    position: absolute;
    top: 158px;
    left: 343px;
    display: inline-block;
    width: 33px;
}
.div7 {
    position: absolute;
    top: 331px;
    left: 341px;
    display: inline-block;
    width: 33px;
}
.div8 {
    position: absolute;
    top: 213px;
    left: 341px;
    display: inline-block;
    width: 33px;
}
.div9 {
    position: absolute;
    top: 247px;
    left: 341px;
    display: inline-block;
    width: 33px;
}
.div10 {
    position: absolute;
    top: 395px;
    left: 341px;
    display: inline-block;
    width: 33px;
}
.div11 {
    position: absolute;
    top: 158px;
    left: 424px;
    display: inline-block;
    width: 33px;
}
.div12 {
    position: absolute;
    top: 332px;
    left: 422px;
    display: inline-block;
    width: 33px;
}
.div13 {
    position: absolute;
    top: 213px;
    left: 422px;
    display: inline-block;
    width: 33px;
}
.div14 {
    position: absolute;
    top: 247px;
    left: 422px;
    display: inline-block;
    width: 33px;
}
.div15 {
    position: absolute;
    top: 396px;
    left: 422px;
    display: inline-block;
    width: 33px;
}
.div16 {
    position: absolute;
    top: 158px;
    left: 520px;
    display: inline-block;
    width: 33px;
}
.div17 {
    position: absolute;
    top: 332px;
    left: 518px;
    display: inline-block;
    width: 33px;
}
.div18 {
    position: absolute;
    top: 213px;
    left: 518px;
    display: inline-block;
    width: 33px;
}
.div19 {
    position: absolute;
    top: 247px;
    left: 518px;
    display: inline-block;
    width: 33px;
}
.div20 {
    position: absolute;
    top: 396px;
    left: 518px;
    display: inline-block;
    width: 33px;
}
.div21 {
    position: absolute;
    top: 158px;
    left: 625px;
    display: inline-block;
    width: 45px;
}
.div22 {
    position: absolute;
    top: 332px;
    left: 623px;
    display: inline-block;
    width: 45px;
}
.div23 {
    position: absolute;
    top: 213px;
    left: 623px;
    display: inline-block;
    width: 45px;
}
.div24 {
    position: absolute;
    top: 247px;
    left: 623px;
    display: inline-block;
    width: 45px;
}
.div25 {
    position: absolute;
    top: 396px;
    left: 623px;
    display: inline-block;
    width: 45px;
}
.x1 {
    position: absolute;
    top: 158px;
    left: 712px;
}
.x2 {
    position: absolute;
    top: 332px;
    left: 710px;
}
.x3 {
    position: absolute;
    top: 213px;
    left: 710px;
}
.x4 {
    position: absolute;
    top: 247px;
    left: 710px;
}
.x5 {
    position: absolute;
    top: 396px;
    left: 710px;
}
.x6 {
    position: absolute;
    top: 158px;
    left: 783px;
}
.x7 {
    position: absolute;
    top: 332px;
    left: 781px;
}
.x8 {
    position: absolute;
    top: 213px;
    left: 781px;
}
.x9 {
    position: absolute;
    top: 247px;
    left: 781px;
}
.x10 {
    position: absolute;
    top: 396px;
    left: 781px;
}
.child {
    position: absolute;
    top: 373.5px;
    left: 43.5px;
    border-top: 1px solid #dfdfdf;
    box-sizing: border-box;
    width: 790px;
    height: 1px;
}
.item {
    position: absolute;
    top: 195.5px;
    left: 43.5px;
    border-top: 1px solid #dfdfdf;
    box-sizing: border-box;
    width: 790px;
    height: 1px;
}
.phlinkLightIcon {
    position: absolute;
    top: 112px;
    left: 49px;
    width: 12px;
    height: 12px;
    overflow: hidden;
}
.groupIcon {
    position: absolute;
    height: 0.88%;
    width: 1.17%;
    top: 24.02%;
    right: 93.7%;
    bottom: 75.09%;
    left: 5.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupIcon1 {
    position: absolute;
    height: 1.49%;
    width: 0.69%;
    top: 48.9%;
    right: 93.94%;
    bottom: 49.61%;
    left: 5.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.groupIcon2 {
    position: absolute;
    height: 1.49%;
    width: 0.69%;
    top: 58.03%;
    right: 93.94%;
    bottom: 40.48%;
    left: 5.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vectorIcon {
    position: absolute;
    height: 1.45%;
    width: 1.14%;
    top: 4.92%;
    right: 75.06%;
    bottom: 93.63%;
    left: 23.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupIcon3 {
    position: absolute;
    height: 12.22%;
    width: 5.69%;
    top: 44.24%;
    right: 6.62%;
    bottom: 43.54%;
    left: 87.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.exactMatch {
    position: absolute;
    height: 48.33%;
    width: 75.38%;
    top: 30.56%;
    left: 6.15%;
    display: inline-block;
}
.buttonbigprimaryWithIcone {
    position: absolute;
    height: 5.21%;
    width: 14.81%;
    top: 3.33%;
    right: 2.73%;
    bottom: 91.46%;
    left: 82.46%;
    border-radius: 4px;
    border: 1px solid rgba(63, 61, 86, 0.2);
    box-sizing: border-box;
    font-size: 12px;
    color: #3f3d56;
    font-family: Roboto;
}
.inner {
    position: absolute;
    top: 153px;
    left: 848px;
    border-radius: 9px;
    background-color: #ececec;
    width: 3px;
    height: 171px;
}
.rectangleDiv {
    position: absolute;
    top: 153px;
    left: 848px;
    border-radius: 9px;
    background-color: #d4d4d4;
    width: 3px;
    height: 107px;
}
.child1 {
    position: absolute;
    top: 142px;
    left: 37px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    width: 804px;
    height: 164px;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    background-color: #ede5ff;
    width: 41px;
    height: 17.6px;
}
.level {
    position: absolute;
    top: 3.9px;
    left: 9.76px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.5px;
    height: 9.8px;
}
.rectangleParent {
    position: absolute;
    top: 215px;
    left: 178px;
    width: 41px;
    height: 17.6px;
    text-align: center;
    font-size: 8px;
    color: #242424;
}
.rectangleGroup {
    position: absolute;
    top: 249px;
    left: 178px;
    width: 41px;
    height: 17.6px;
    text-align: center;
    font-size: 8px;
    color: #242424;
}
.keyword {
    position: absolute;
    top: 214px;
    left: 66px;
    font-size: 14px;
    font-weight: 600;
    color: #242424;
}
.keyword4 {
    position: absolute;
    top: 248px;
    left: 66px;
    font-size: 14px;
    font-weight: 600;
    color: #242424;
}
.div {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 691px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: 'Nunito Sans';
}

